h3 {
    font-size: 3em;
    font-family: "Helvetica", "Verdana", "Arial", sans-serif;
    font-style: "italic"
}

td {
    margin: 50px;
}

table {
    margin: 20px;
}

.letter {
    background-color: white;
    width: 35px;
    height: 35px;
    margin: 2px;
    border-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2em;
    text-align: center;
}

.key_button {
    background-color: lightgray;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2em;
    text-align: center;
    &.absent {
        background-color: rgb(109, 109, 109);
    }
    &.present {
        background-color: gold;
    }
    &.correct {
        background-color: lightgreen;
    }
}

#date-label {
    font-size: 1em;
}

#enter {
    font-size: 1.25em;
    width: 80px;
}

#backspace {
    font-size: 1.3em;
}