
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Play{% endblock %}</h1>
{% endblock %}

{% block content %}

    <label for="date" id="date-label">Pick a date:</label>
    <form id="form" method="post">
    <input type="date" id="date" name="date" min="2021-06-19" max="{{max_date}}" value="{{date}}">
    <table>
        {% for row in range(6) %}
            <tr class="row" id="row{{row}}">
                {% for col in range(5) %}
                    <td class="cell">
                        {% if col == 0 and row == current_row %}
                            <input type="text" name="r{{row}}-{{col}}" class="letter {{row_keys[row][guesses[row][col]]}}" maxlength="1" style="text-transform:uppercase" readonly="true" value="{{guesses[row][col]}}" autofocus="true">
                        {% else %}
                            <input type="text" name="r{{row}}-{{col}}" class="letter {{row_keys[row][guesses[row][col]]}}" maxlength="1" style="text-transform:uppercase" readonly="true" value="{{guesses[row][col]}}">
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </form>
    <div id="keyboard">
        <table>
            <tr>
                {% for letter in 'qwertyuiop' %}
                    <td class="key"><button id="{{letter}}" type="button" class="key_button {{keys[letter]}}">{{letter.upper()}}</button></td>
                {% endfor %}
            </tr>
            <tr>
                <td class="fill"></td>
                {% for letter in 'asdfghjkl' %}
                    {% if letter in keys %}
                        <td class="key"><button id="{{letter}}" type="button" class="key_button {{keys[letter]}}">{{letter.upper()}}</button></td>
                    {% else %}
                        <td class="key"><button id="{{letter}}" type="button" class="key_button">{{letter.upper()}}</button></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="key" colspan="2"><button id="enter" class="key_button">ENTER</button></td>
                {% for letter in 'zxcvbnm' %}
                    {% if letter in keys %}
                        <td class="key"><button id="{{letter}}" type="button" class="key_button {{keys[letter]}}">{{letter.upper()}}</button></td>
                    {% else %}
                        <td class="key"><button id="{{letter}}" type="button" class="key_button">{{letter.upper()}}</button></td>
                    {% endif %}
                {% endfor %}
                <td class="key" colspan="2"><button id="backspace" class="key_button">⌫</button></td>
            </tr>
        </table>
    </div>

<script>
    const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
    window.alert(tz)

    col = 0
    row = 0
    const match = document.querySelectorAll("input[autofocus='true']")[0];
    row = parseInt(match.getAttribute('name').charAt(1))

    function submit() {
        if (col == 5) {
            let form = document.getElementById("form")
            form.requestSubmit()
            form.reset()
            row++
            col = 0
        }
    }

    function backspace() {
        if (col >= 0) {
            if (col > 0) {
                col--
            }
            document.getElementsByName(get_input(row, col))[0].focus()
            document.getElementsByName(get_input(row, col))[0].value = ""
        }
    }

    function advance(letter) {
        if (col >= 0 && col <= 4) {
            document.getElementsByName(get_input(row, col))[0].focus()
            document.getElementsByName(get_input(row, col))[0].value = letter
            col++
            document.getElementsByName(get_input(row, col))[0].focus()
            document.getElementsByName(get_input(row, col))[0].value = ""
        }
    }

    function handleKey(event) {
        if (event.key.match(/^[a-z]$/)) {
            advance(event.key)
        } else if (event.key == "Backspace" || event.key == "Delete") {
            backspace()
        } else if (event.key == "Enter") {
            submit()
        }
    }

    document.addEventListener("keyup", handleKey)

    function handleButton(event) {
        let element = event.target
        if (element.id == "enter") {
            submit()
        } else if (element.id == "backspace") {
            backspace()
        } else {
            advance(element.id)
        }
    }

    document.querySelectorAll("button.key_button").forEach( (element) => {
        element.onclick = handleButton
    })

    function get_input(r, c) {
        return `r${r}-${c}`
    }
</script>
{% endblock %}
